/* line 5, ../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../scss/lib/carousel/_carousel.scss */
.carousel {
  position: relative;
}

/* line 11, ../scss/lib/carousel/_carousel.scss */
.carousel-inner {
  position: relative;
  width: 100%;
}
/* line 15, ../scss/lib/carousel/_carousel.scss */
.carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
/* line 21, ../scss/lib/carousel/_carousel.scss */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  min-width: 1000px;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  /* line 15, ../scss/lib/carousel/_carousel.scss */
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    -moz-transition: -moz-transform 0.6s ease-in-out;
    -o-transition: -o-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
  }
  /* line 33, ../scss/lib/carousel/_carousel.scss */
  .carousel-inner > .item.next, .carousel-inner > .item.active.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    left: 0;
  }
  /* line 38, ../scss/lib/carousel/_carousel.scss */
  .carousel-inner > .item.prev, .carousel-inner > .item.active.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    left: 0;
  }
  /* line 43, ../scss/lib/carousel/_carousel.scss */
  .carousel-inner > .item.next.left, .carousel-inner > .item.prev.right, .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
/* line 52, ../scss/lib/carousel/_carousel.scss */
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
/* line 58, ../scss/lib/carousel/_carousel.scss */
.carousel-inner > .active {
  left: 0;
}
/* line 62, ../scss/lib/carousel/_carousel.scss */
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 69, ../scss/lib/carousel/_carousel.scss */
.carousel-inner > .next {
  left: 100%;
}
/* line 72, ../scss/lib/carousel/_carousel.scss */
.carousel-inner > .prev {
  left: -100%;
}
/* line 75, ../scss/lib/carousel/_carousel.scss */
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
/* line 80, ../scss/lib/carousel/_carousel.scss */
.carousel-inner > .active.left {
  left: -100%;
}
/* line 83, ../scss/lib/carousel/_carousel.scss */
.carousel-inner > .active.right {
  left: 100%;
}

/* line 94, ../scss/lib/carousel/_carousel.scss */
.indicator-wrap {
  position: absolute;
  z-index: 15;
  bottom: 23px;
  left: 0;
  width: 100%;
}
/* line 101, ../scss/lib/carousel/_carousel.scss */
.indicator-wrap .carousel-indicators {
  z-index: 15;
  width: 1000px;
  margin: 0 auto;
  padding-right: 20px;
  font-size: 0;
  list-style: none;
  text-align: right;
}
/* line 110, ../scss/lib/carousel/_carousel.scss */
.indicator-wrap .carousel-indicators li {
  display: inline-block;
  width: 30px;
  height: 8px;
  margin-left: 10px;
  background-color: #8c9cab;
  vertical-align: middle;
  cursor: pointer;
}
/* line 118, ../scss/lib/carousel/_carousel.scss */
.indicator-wrap .carousel-indicators li:first-child {
  margin-left: 0;
}
/* line 122, ../scss/lib/carousel/_carousel.scss */
.indicator-wrap .carousel-indicators .active {
  background-color: #2a4168;
  border: 1px solid #8c9cab;
}

/* line 132, ../scss/lib/carousel/_carousel.scss */
.carousel-caption {
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 10;
  width: 100%;
}

/* line 140, ../scss/lib/carousel/_carousel.scss */
.inner-content {
  width: 1000px;
  margin: 0 auto;
}

/* line 1, ../scss/_base.scss */
.container {
  width: 1000px;
  margin: 0 auto;
  font-size: 0;
}

/* line 14, ../scss/lib/carousel/mixins/_clearfix.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 19, ../scss/lib/carousel/mixins/_clearfix.scss */
.clearfix:after {
  clear: both;
}

/* line 10, ../scss/_base.scss */
a {
  font-family: "Helvetica";
  text-decoration: none;
}

@font-face {
  font-family: "Helvetica";
  src: url('/../../Wellteam/client/fonts/helvetica/helvetica.otf') format('opentype'), url('/../../Wellteam/client/fonts/helvetica/Helvetica.svg') format('svg'), url('/../../Wellteam/client/fonts/helvetica/Helvetica.ttf') format('truetype'), url('/../../Wellteam/client/fonts/fonts/helvetica/Helvetica.woff') format('woff');
}
@font-face {
  font-family: "Helvetica Bold";
  src: url('/../../Wellteam/client/fonts/helvetica-bold/Helvetica-bold.otf') format('opentype'), url('/../../Wellteam/client/fonts/helvetica-bold/Helvetica-bold.svg') format('svg'), url('/../../Wellteam/client/fonts/helvetica-bold/Helvetica-bold.ttf') format('truetype'), url('/../../Wellteam/client/fonts/helvetica-bold/Helvetica-bold.woff') format('woff');
}
/* line 1, ../scss/components/_button.scss */
.button {
  display: block;
  padding: 10px 0 12px;
  font-family: "Helvetica";
  font-size: 18px;
  text-align: center;
}
/* line 8, ../scss/components/_button.scss */
.button.red {
  width: 157px;
  background-color: #d51313;
  color: #fff;
}
/* line 13, ../scss/components/_button.scss */
.button.blue, .button.white {
  width: 194px;
}
/* line 16, ../scss/components/_button.scss */
.button.blue {
  border: 1px solid #95a6bc;
  background-color: #2a4168;
  color: #fff;
}
/* line 20, ../scss/components/_button.scss */
.button.blue:hover {
  border: 1px solid transparent;
  background-color: #fff;
  color: #2a4168;
}
/* line 26, ../scss/components/_button.scss */
.button.white {
  border: 1px solid transparent;
  background-color: #fff;
  color: #2a4168;
}
/* line 30, ../scss/components/_button.scss */
.button.white:hover {
  border: 1px solid #95a6bc;
  background-color: #2a4168;
  color: #fff;
}

/* line 2, ../scss/widgets/_header.scss */
header nav {
  position: relative;
}
/* line 5, ../scss/widgets/_header.scss */
header nav .logo {
  position: absolute;
  z-index: 999;
  top: 7px;
  left: 360px;
}
/* line 12, ../scss/widgets/_header.scss */
header nav ul {
  width: 100%;
}
/* line 15, ../scss/widgets/_header.scss */
header nav ul li {
  border-top: 7px solid #fff;
}
/* line 18, ../scss/widgets/_header.scss */
header nav ul li a {
  display: block;
  font-size: 18px;
  line-height: 102px;
  text-transform: uppercase;
  color: #181818;
}
/* line 25, ../scss/widgets/_header.scss */
header nav ul li:nth-child(-n+2) {
  float: left;
}
/* line 28, ../scss/widgets/_header.scss */
header nav ul li:nth-child(n+3) {
  float: right;
}
/* line 31, ../scss/widgets/_header.scss */
header nav ul li:nth-child(2) {
  margin-left: 130px;
}
/* line 34, ../scss/widgets/_header.scss */
header nav ul li:nth-child(4) {
  margin-right: 97px;
}
/* line 37, ../scss/widgets/_header.scss */
header nav ul li.active {
  border-top: 7px solid #2a4168;
}
/* line 39, ../scss/widgets/_header.scss */
header nav ul li.active a {
  color: #2a4168;
}

/* line 1, ../scss/layouts/home/_slider.scss */
.home .slider {
  overflow: hidden;
}
/* line 5, ../scss/layouts/home/_slider.scss */
.home .slider .slider-style .info-box {
  float: left;
  width: 500px;
}
/* line 9, ../scss/layouts/home/_slider.scss */
.home .slider .slider-style .info-box h3 {
  font-family: "Helvetica Bold";
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #fff;
}
/* line 17, ../scss/layouts/home/_slider.scss */
.home .slider .slider-style .info-box .button {
  margin-top: 20px;
}
/* line 22, ../scss/layouts/home/_slider.scss */
.home .slider .slider-style .button-group {
  float: right;
  width: 194px;
}
/* line 27, ../scss/layouts/home/_slider.scss */
.home .slider .slider-style .button-group .button:last-of-type {
  margin-top: 15px;
}
/* line 1, ../scss/layouts/home/_advantages.scss */
.home .advantages {
  padding: 45px 0;
}
/* line 4, ../scss/layouts/home/_advantages.scss */
.home .advantages h2 {
  font-family: "Helvetica Bold";
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
}
/* line 12, ../scss/layouts/home/_advantages.scss */
.home .advantages .avail {
  display: inline-block;
  width: 250px;
  margin-top: 40px;
  padding: 10px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 20, ../scss/layouts/home/_advantages.scss */
.home .advantages .avail img {
  display: block;
  width: 164px;
  margin: 0 auto;
}
/* line 26, ../scss/layouts/home/_advantages.scss */
.home .advantages .avail h3 {
  margin-top: 20px;
  font-family: "Helvetica";
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #181818;
}
