<section class="contacts">
    <div class="container">
        <h2>contacts</h2>
        <div class="contact-box">
            <h3>Adress</h3>
            <p>Head office in Kherson:</p>
            <p>Of. 14, 1 Gor'kogo str.</p>
            <p>Kherson 73025, Ukraine</p>
        </div>
        <a class="button red" href="javascript:void(0)">Send message</a>
        <div class="contact-box">
            <h3>Quick contacts</h3>
            <span>(0552) 44 24 23</span>
            <span>(095) 227 01 12</span>
            <ul>
                <li><a href="#">wellteam1</a></li>
                <li><a href="#">office@wellteam.co.ua</a></li>
            </ul>
        </div>
    </div>
</section>