<section class="partners">
    <div class="container">
        <h2>our partners</h2>
        <ul>
            <li><a href="javascript:void(0)"><img src="client/images/partners/tidewater.png" alt=""/></a></li>
            <li><a href="javascript:void(0)"><img src="client/images/partners/ahlers.png" alt=""/></a></li>
            <li><a href="javascript:void(0)"><img src="client/images/partners/bourbon.png" alt=""/></a></li>
            <li><a href="javascript:void(0)"><img src="client/images/partners/northwest.png" alt=""/></a></li>
            <li><a href="javascript:void(0)"><img src="client/images/partners/gulf.png" alt=""/></a></li>
        </ul>
    </div>


</section>