.news {
    background-color: #e8e8e8;

    .container {
        padding: 45px 0 15px;

        h2 {
            color: #181818;
        }

        .article {
            font-size: 0;
            background-color: #fff;

            .news-item {
                display: inline-block;
                width: 500px;
                padding: 45px 92px 0;
                vertical-align: top;
                @include box-sizing(border-box);

                span {
                    font-size: 14px;
                    color: #848484;
                    @include user-select(none);
                }

                h3 {
                    margin-top: 10px;
                    font-size: 14px;
                    line-height: 25px;
                    color: #2a4168;
                }

                p {
                    margin-top: 10px;
                    font-size: 14px;
                    line-height: 25px;
                    color: #181818;
                }
            }
            img {
                display: inline-block;
                width: 500px;
                @include user-select(none);
            }
            &:first-of-type {
                margin-top: 35px;
            }
            &:last-of-type {

                .news-item {
                    padding: 45px 80px 0;
                }
                a {
                    display: inline-block;
                    float:right;
                    border-bottom: 1px solid #000000;  //helvetica bugfix
                    color: #181818;
                }
            }
        }
        a {
            display: block;
            margin-top: 5px;
            font-size: 14px;
            line-height: 20px;
            text-align: right;
            color: #d51313;
            @include user-select(none);
        }
    }
}