.partners {
    padding: 55px 0 60px;
    @include user-select(none);

    h2 {
        font-family: "Helvetica";
        color: #181818;
    }
    ul {
        margin-top: 45px;
        font-size: 0;

         li{
             display: inline-block;
             margin-left: 8px;
             &:first-child {
                 margin-left: 0;
             }
         }
    }
}